@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.main1{
  padding-top: 40px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  color: white;
  background-color: var(--main-darklg);
  background-color: #303033;
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  min-height: 92vh;
  height: 100%;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #3b3b3d;
}

video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
  background-color: #303033;
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303033;
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
    background-color: #c40404;
}
.background__red {
    background-color: #fc171b;
}
.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  height: auto;
  background-color: #29292b;
  font-size:smaller;
  font-weight: normal;
}

#send-container{
  justify-content: center;
  height: 40px;
  width: 100%;
}
.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
  transition: all 0.3s ease !important;  
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
}
.main__chat_window::-webkit-scrollbar {
  display: none; 
}
.main__chat_window::-moz-scrollbar {
  display: none; 
}
.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}
.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.message {
  display: flex;
  flex-direction: column;
}
.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}
.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}
input{
  margin-left: 10px;
  width: 80%;
  height: 30px;
  border: none;
}
#send{
  width: 50px;
  height: 30px;
}
#chatting{
  color: white; 
  padding: 10px;
}
.main__message_container{
  height: 100%;
}
#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* added for scree start  */
.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}
.local-video{
    bottom: 0;
    left: 0;
    position: fixed;
    width:15vw;
}
.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* added for record */
.record-option{
  height: 200px;
  border-radius: 10%;
  /* border: 1px solid #17a2b8; */
  border: black;
  cursor: pointer;
  padding: 10px;
  vertical-align: middle;
}
.custom-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left:0;
  top:0;
  width: 20%;
  height: 100%;
  overflow: auto;
}
.custom-modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 15% auto;
  padding: 1px;
  /* border: 1px solid #17a2b8; */
  border:1px solid black;
  width: 80%;
}
.closebutton{
  margin-left: 5px;
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* added for reord ends  */
.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
  .main__right {
    display: none;

  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }


  /* added for screen share  */
  .local-video{
    width:40vw;
}
  /* added for screen share ends  */
} 












